# Preprocesado de imagenes

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import os

In [2]:
#1 de todo hay que añadir las carpetas train y test de este link https://www.kaggle.com/datasets/jonathanbesomi/rsna-miccai-png
# dentro de una carpeta llamada 'data' en el directorio principal del proyecto

#Aqui cargo las fotos del train y del test

path='data/train'

images=[]
pacientes=[]
list_directorios=[folder[1] for folder in os.walk(path)]
for paciente in list_directorios[0]:
    fotos_paciente=[folde[2] for folde in os.walk(f'{path}/{paciente}/FLAIR')]
    if len(fotos_paciente)==0:
        continue
    for foto in fotos_paciente[0]:
        images.append(mpimg.imread(f"{path}/{paciente}/FLAIR/{foto}"))
        pacientes.append(paciente)

In [3]:
# Creo un df con el id del paciente y la fotos
# (cada fila es una foto, un paciente tiene muchas filas por lo tanto)

#TRAIN
images_df=pd.DataFrame()
images_df['Pacientes']=pacientes
images_df['Imagenes']=images
images_df

      Pacientes                                           Imagenes
0         00658  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
1         00658  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
2         00658  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
3         00658  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
4         00658  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
...         ...                                                ...
53677     00081  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
53678     00081  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
53679     00081  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
53680     00081  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
53681     00081  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...

[53682 rows x 2 columns]

In [4]:
# elimino todas las fotos que tengan un % blanco menor al 0.04, con esto eleminamos las fotos que son mayoritariamente negras

imdf=pd.DataFrame(images_df['Imagenes'])
images_df['%Blanco']=imdf.applymap(lambda x: np.mean(x))['Imagenes']
images_df=images_df[images_df['%Blanco']>=0.04]
images_df=images_df.reset_index().drop(columns=['index'])
images_df

      Pacientes                                           Imagenes   %Blanco
0         00658  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...  0.089817
1         00658  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...  0.069274
2         00658  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...  0.095631
3         00658  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...  0.086661
4         00658  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...  0.097574
...         ...                                                ...       ...
41999     00081  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...  0.077314
42000     00081  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...  0.075937
42001     00081  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...  0.074919
42002     00081  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...  0.088121
42003     00081  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...  0.075984

[42004 rows x 3 columns]

In [27]:
 # Import labels
labels_df=pd.read_csv('train_labels.csv')
labels_df=labels_df.rename(columns={'BraTS21ID': 'Pacientes'})
images_df['Pacientes']=pd.to_numeric(images_df['Pacientes'])

Pacientes      int64
Imagenes      object
%Blanco      float32
dtype: object

In [34]:
# Añado las labels con left join
images_df=images_df.merge(labels_df,on='Pacientes',how='left')
images_df=images_df.drop(columns=['Pacientes','%Blanco']).rename(columns={'MGMT_value':'Label'})

In [36]:
#Genero train/test set

train_df=images_df.iloc[:29400]
test_df=images_df.iloc[29400:]

In [52]:
#Hago los trai/test sets de diferentes tamaños

# Train 882 Test 378
train_small_df=train_df.sample(frac=0.03,random_state=200).reset_index().drop(columns=['index'])
test_small_df=test_df.sample(frac=0.03,random_state=200).reset_index().drop(columns=['index'])

# Train 2940 Test 1260
train_medium_df=train_df.sample(frac=0.1,random_state=200).reset_index().drop(columns=['index'])
test_medium_df=test_df.sample(frac=0.1,random_state=200).reset_index().drop(columns=['index'])

# Train 8820 Test 2781
train_big_df=train_df.sample(frac=0.3,random_state=200).reset_index().drop(columns=['index'])
test_big_df=test_df.sample(frac=0.3,random_state=200).reset_index().drop(columns=['index'])

In [55]:
train_small_df

                                              Imagenes  Label
0    [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      1
1    [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      0
2    [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      1
3    [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      0
4    [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      0
..                                                 ...    ...
877  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      1
878  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      0
879  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      1
880  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      1
881  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      0

[882 rows x 2 columns]

In [56]:
test_small_df

                                              Imagenes  Label
0    [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      0
1    [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      0
2    [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      0
3    [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      1
4    [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      1
..                                                 ...    ...
373  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      1
374  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      1
375  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      0
376  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      0
377  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...      1

[378 rows x 2 columns]